In [1]:
import pandas as pd

In [2]:
data = {
  "employees": [
    {
      "employee_id": 101,
      "name": "Alice Johnson",
      "department": "IT",
      "designation": "Software Engineer",
      "salary": 75000,
      "joining_date": "2020-06-15"
    },
    {
      "employee_id": 102,
      "name": "Bob Smith",
      "department": "HR",
      "designation": "HR Manager",
      "salary": 65000,
      "joining_date": "2019-08-20"
    },
    {
      "employee_id": 103,
      "name": "Charlie Brown",
      "department": "Finance",
      "designation": "Accountant",
      "salary": 70000,
      "joining_date": "2018-07-10"
    },
    {
      "employee_id": 104,
      "name": "David Wilson",
      "department": "IT",
      "designation": "Data Analyst",
      "salary": 72000,
      "joining_date": "2021-04-05"
    },
    {
      "employee_id": 105,
      "name": "Emma Davis",
      "department": "Marketing",
      "designation": "Marketing Executive",
      "salary": 60000,
      "joining_date": "2020-09-12"
    },
    {
      "employee_id": 106,
      "name": "Franklin Harris",
      "department": "IT",
      "designation": "DevOps Engineer",
      "salary": 85000,
      "joining_date": "2019-11-30"
    },
    {
      "employee_id": 107,
      "name": "Grace Thompson",
      "department": "Sales",
      "designation": "Sales Manager",
      "salary": 68000,
      "joining_date": "2021-02-22"
    },
    {
      "employee_id": 108,
      "name": "Henry Martinez",
      "department": "Operations",
      "designation": "Operations Manager",
      "salary": 78000,
      "joining_date": "2017-12-18"
    },
    {
      "employee_id": 109,
      "name": "Isabella White",
      "department": "Customer Support",
      "designation": "Support Executive",
      "salary": 55000,
      "joining_date": "2022-01-25"
    },
    {
      "employee_id": 110,
      "name": "Jack Robinson",
      "department": "IT",
      "designation": "Database Administrator",
      "salary": 90000,
      "joining_date": "2016-06-05"
    }
  ]
}

In [4]:
data['employees']

[{'employee_id': 101,
  'name': 'Alice Johnson',
  'department': 'IT',
  'designation': 'Software Engineer',
  'salary': 75000,
  'joining_date': '2020-06-15'},
 {'employee_id': 102,
  'name': 'Bob Smith',
  'department': 'HR',
  'designation': 'HR Manager',
  'salary': 65000,
  'joining_date': '2019-08-20'},
 {'employee_id': 103,
  'name': 'Charlie Brown',
  'department': 'Finance',
  'designation': 'Accountant',
  'salary': 70000,
  'joining_date': '2018-07-10'},
 {'employee_id': 104,
  'name': 'David Wilson',
  'department': 'IT',
  'designation': 'Data Analyst',
  'salary': 72000,
  'joining_date': '2021-04-05'},
 {'employee_id': 105,
  'name': 'Emma Davis',
  'department': 'Marketing',
  'designation': 'Marketing Executive',
  'salary': 60000,
  'joining_date': '2020-09-12'},
 {'employee_id': 106,
  'name': 'Franklin Harris',
  'department': 'IT',
  'designation': 'DevOps Engineer',
  'salary': 85000,
  'joining_date': '2019-11-30'},
 {'employee_id': 107,
  'name': 'Grace Thompson',
  'department': 'Sales',
  'designation': 'Sales Manager',
  'salary': 68000,
  'joining_date': '2021-02-22'},
 {'employee_id': 108,
  'name': 'Henry Martinez',
  'department': 'Operations',
  'designation': 'Operations Manager',
  'salary': 78000,
  'joining_date': '2017-12-18'},
 {'employee_id': 109,
  'name': 'Isabella White',
  'department': 'Customer Support',
  'designation': 'Support Executive',
  'salary': 55000,
  'joining_date': '2022-01-25'},
 {'employee_id': 110,
  'name': 'Jack Robinson',
  'department': 'IT',
  'designation': 'Database Administrator',
  'salary': 90000,
  'joining_date': '2016-06-05'}]

In [5]:
data['employees'][0]

{'employee_id': 101,
 'name': 'Alice Johnson',
 'department': 'IT',
 'designation': 'Software Engineer',
 'salary': 75000,
 'joining_date': '2020-06-15'}

In [6]:
data['employees'][0]['employee_id']

101

In [7]:
data['employees'][0]['department']

'IT'

In [11]:
data.keys()

dict_keys(['employees'])

In [15]:
for row in data['employees']:
    emp_id = row['employee_id']
    emp_name = row['name']
    department = row['department']
    designation = row['designation']
    salary = row['salary']
    joining_date = row['joining_date']
    
    print(emp_id)

101
102
103
104
105
106
107
108
109
110

In [16]:
for row in data['employees']:
    emp_id = row['employee_id']
    emp_name = row['name']
    department = row['department']
    designation = row['designation']
    salary = row['salary']
    joining_date = row['joining_date']
    emp_element= {'emp_id': emp_id ,'emp_name':emp_name,'department':department,'designation':designation,
                 'salary':salary,'joining_date':joining_date}
    print(emp_element)

{'emp_id': 101, 'emp_name': 'Alice Johnson', 'department': 'IT', 'designation': 'Software Engineer', 'salary': 75000, 'joining_date': '2020-06-15'}
{'emp_id': 102, 'emp_name': 'Bob Smith', 'department': 'HR', 'designation': 'HR Manager', 'salary': 65000, 'joining_date': '2019-08-20'}
{'emp_id': 103, 'emp_name': 'Charlie Brown', 'department': 'Finance', 'designation': 'Accountant', 'salary': 70000, 'joining_date': '2018-07-10'}
{'emp_id': 104, 'emp_name': 'David Wilson', 'department': 'IT', 'designation': 'Data Analyst', 'salary': 72000, 'joining_date': '2021-04-05'}
{'emp_id': 105, 'emp_name': 'Emma Davis', 'department': 'Marketing', 'designation': 'Marketing Executive', 'salary': 60000, 'joining_date': '2020-09-12'}
{'emp_id': 106, 'emp_name': 'Franklin Harris', 'department': 'IT', 'designation': 'DevOps Engineer', 'salary': 85000, 'joining_date': '2019-11-30'}
{'emp_id': 107, 'emp_name': 'Grace Thompson', 'department': 'Sales', 'designation': 'Sales Manager', 'salary': 68000, 'joining_date': '2021-02-22'}
{'emp_id': 108, 'emp_name': 'Henry Martinez', 'department': 'Operations', 'designation': 'Operations Manager', 'salary': 78000, 'joining_date': '2017-12-18'}
{'emp_id': 109, 'emp_name': 'Isabella White', 'department': 'Customer Support', 'designation': 'Support Executive', 'salary': 55000, 'joining_date': '2022-01-25'}
{'emp_id': 110, 'emp_name': 'Jack Robinson', 'department': 'IT', 'designation': 'Database Administrator', 'salary': 90000, 'joining_date': '2016-06-05'}

In [17]:
employee = []
for row in data['employees']:
    emp_id = row['employee_id']
    emp_name = row['name']
    department = row['department']
    designation = row['designation']
    salary = row['salary']
    joining_date = row['joining_date']
    emp_element= {'emp_id': emp_id ,'emp_name':emp_name,'department':department,'designation':designation,
                 'salary':salary,'joining_date':joining_date}
    employee.append(emp_element)

In [18]:
employee

[{'emp_id': 101,
  'emp_name': 'Alice Johnson',
  'department': 'IT',
  'designation': 'Software Engineer',
  'salary': 75000,
  'joining_date': '2020-06-15'},
 {'emp_id': 102,
  'emp_name': 'Bob Smith',
  'department': 'HR',
  'designation': 'HR Manager',
  'salary': 65000,
  'joining_date': '2019-08-20'},
 {'emp_id': 103,
  'emp_name': 'Charlie Brown',
  'department': 'Finance',
  'designation': 'Accountant',
  'salary': 70000,
  'joining_date': '2018-07-10'},
 {'emp_id': 104,
  'emp_name': 'David Wilson',
  'department': 'IT',
  'designation': 'Data Analyst',
  'salary': 72000,
  'joining_date': '2021-04-05'},
 {'emp_id': 105,
  'emp_name': 'Emma Davis',
  'department': 'Marketing',
  'designation': 'Marketing Executive',
  'salary': 60000,
  'joining_date': '2020-09-12'},
 {'emp_id': 106,
  'emp_name': 'Franklin Harris',
  'department': 'IT',
  'designation': 'DevOps Engineer',
  'salary': 85000,
  'joining_date': '2019-11-30'},
 {'emp_id': 107,
  'emp_name': 'Grace Thompson',
  'department': 'Sales',
  'designation': 'Sales Manager',
  'salary': 68000,
  'joining_date': '2021-02-22'},
 {'emp_id': 108,
  'emp_name': 'Henry Martinez',
  'department': 'Operations',
  'designation': 'Operations Manager',
  'salary': 78000,
  'joining_date': '2017-12-18'},
 {'emp_id': 109,
  'emp_name': 'Isabella White',
  'department': 'Customer Support',
  'designation': 'Support Executive',
  'salary': 55000,
  'joining_date': '2022-01-25'},
 {'emp_id': 110,
  'emp_name': 'Jack Robinson',
  'department': 'IT',
  'designation': 'Database Administrator',
  'salary': 90000,
  'joining_date': '2016-06-05'}]

In [3]:
# nested json

emp = {
  "employees": [
    {
      "employee_id": 101,
      "name": "Alice Johnson",
      "personal_details": {
        "age": 28,
        "gender": "Female",
        "contact": {
          "email": "alice.johnson@example.com",
          "phone": "+1-234-567-8901"
        }
      },
      "job_details": {
        "department": "IT",
        "designation": "Software Engineer",
        "salary": 75000,
        "joining_date": "2020-06-15"
      },
      "projects": [
        {
          "project_id": "P101",
          "name": "Website Redesign",
          "status": "Completed"
        },
        {
          "project_id": "P102",
          "name": "Mobile App Development",
          "status": "In Progress"
        }
      ]
    },
    {
      "employee_id": 102,
      "name": "Bob Smith",
      "personal_details": {
        "age": 35,
        "gender": "Male",
        "contact": {
          "email": "bob.smith@example.com",
          "phone": "+1-234-567-8902"
        }
      },
      "job_details": {
        "department": "HR",
        "designation": "HR Manager",
        "salary": 65000,
        "joining_date": "2019-08-20"
      },
      "projects": [
        {
          "project_id": "P103",
          "name": "Employee Onboarding System",
          "status": "Ongoing"
        }
      ]
    },
    {
      "employee_id": 103,
      "name": "Charlie Brown",
      "personal_details": {
        "age": 30,
        "gender": "Male",
        "contact": {
          "email": "charlie.brown@example.com",
          "phone": "+1-234-567-8903"
        }
      },
      "job_details": {
        "department": "Finance",
        "designation": "Accountant",
        "salary": 70000,
        "joining_date": "2018-07-10"
      },
      "projects": []
    },
    {
      "employee_id": 104,
      "name": "David Wilson",
      "personal_details": {
        "age": 27,
        "gender": "Male",
        "contact": {
          "email": "david.wilson@example.com",
          "phone": "+1-234-567-8904"
        }
      },
      "job_details": {
        "department": "IT",
        "designation": "Data Analyst",
        "salary": 72000,
        "joining_date": "2021-04-05"
      },
      "projects": [
        {
          "project_id": "P104",
          "name": "Data Warehouse Setup",
          "status": "Completed"
        }
      ]
    },
    {
      "employee_id": 105,
      "name": "Emma Davis",
      "personal_details": {
        "age": 32,
        "gender": "Female",
        "contact": {
          "email": "emma.davis@example.com",
          "phone": "+1-234-567-8905"
        }
      },
      "job_details": {
        "department": "Marketing",
        "designation": "Marketing Executive",
        "salary": 60000,
        "joining_date": "2020-09-12"
      },
      "projects": [
        {
          "project_id": "P105",
          "name": "Social Media Campaign",
          "status": "In Progress"
        }
      ]
    }
  ]
}

In [4]:
emp['employees']

[{'employee_id': 101,
  'name': 'Alice Johnson',
  'personal_details': {'age': 28,
   'gender': 'Female',
   'contact': {'email': 'alice.johnson@example.com',
    'phone': '+1-234-567-8901'}},
  'job_details': {'department': 'IT',
   'designation': 'Software Engineer',
   'salary': 75000,
   'joining_date': '2020-06-15'},
  'projects': [{'project_id': 'P101',
    'name': 'Website Redesign',
    'status': 'Completed'},
   {'project_id': 'P102',
    'name': 'Mobile App Development',
    'status': 'In Progress'}]},
 {'employee_id': 102,
  'name': 'Bob Smith',
  'personal_details': {'age': 35,
   'gender': 'Male',
   'contact': {'email': 'bob.smith@example.com', 'phone': '+1-234-567-8902'}},
  'job_details': {'department': 'HR',
   'designation': 'HR Manager',
   'salary': 65000,
   'joining_date': '2019-08-20'},
  'projects': [{'project_id': 'P103',
    'name': 'Employee Onboarding System',
    'status': 'Ongoing'}]},
 {'employee_id': 103,
  'name': 'Charlie Brown',
  'personal_details': {'age': 30,
   'gender': 'Male',
   'contact': {'email': 'charlie.brown@example.com',
    'phone': '+1-234-567-8903'}},
  'job_details': {'department': 'Finance',
   'designation': 'Accountant',
   'salary': 70000,
   'joining_date': '2018-07-10'},
  'projects': []},
 {'employee_id': 104,
  'name': 'David Wilson',
  'personal_details': {'age': 27,
   'gender': 'Male',
   'contact': {'email': 'david.wilson@example.com',
    'phone': '+1-234-567-8904'}},
  'job_details': {'department': 'IT',
   'designation': 'Data Analyst',
   'salary': 72000,
   'joining_date': '2021-04-05'},
  'projects': [{'project_id': 'P104',
    'name': 'Data Warehouse Setup',
    'status': 'Completed'}]},
 {'employee_id': 105,
  'name': 'Emma Davis',
  'personal_details': {'age': 32,
   'gender': 'Female',
   'contact': {'email': 'emma.davis@example.com', 'phone': '+1-234-567-8905'}},
  'job_details': {'department': 'Marketing',
   'designation': 'Marketing Executive',
   'salary': 60000,
   'joining_date': '2020-09-12'},
  'projects': [{'project_id': 'P105',
    'name': 'Social Media Campaign',
    'status': 'In Progress'}]}]

In [5]:
emp['employees'][0]

{'employee_id': 101,
 'name': 'Alice Johnson',
 'personal_details': {'age': 28,
  'gender': 'Female',
  'contact': {'email': 'alice.johnson@example.com',
   'phone': '+1-234-567-8901'}},
 'job_details': {'department': 'IT',
  'designation': 'Software Engineer',
  'salary': 75000,
  'joining_date': '2020-06-15'},
 'projects': [{'project_id': 'P101',
   'name': 'Website Redesign',
   'status': 'Completed'},
  {'project_id': 'P102',
   'name': 'Mobile App Development',
   'status': 'In Progress'}]}

In [6]:
emp['employees'][0]['employee_id']

101

In [7]:
emp['employees'][0]['personal_details']

{'age': 28,
 'gender': 'Female',
 'contact': {'email': 'alice.johnson@example.com', 'phone': '+1-234-567-8901'}}

In [8]:
emp['employees'][0]['personal_details']['contact']

{'email': 'alice.johnson@example.com', 'phone': '+1-234-567-8901'}

In [10]:
for row in emp['employees']:
    emp_id = row['employee_id']
    emp_name = row['name']
    personal_details = row['personal_details']
    print(personal_details)

{'age': 28, 'gender': 'Female', 'contact': {'email': 'alice.johnson@example.com', 'phone': '+1-234-567-8901'}}
{'age': 35, 'gender': 'Male', 'contact': {'email': 'bob.smith@example.com', 'phone': '+1-234-567-8902'}}
{'age': 30, 'gender': 'Male', 'contact': {'email': 'charlie.brown@example.com', 'phone': '+1-234-567-8903'}}
{'age': 27, 'gender': 'Male', 'contact': {'email': 'david.wilson@example.com', 'phone': '+1-234-567-8904'}}
{'age': 32, 'gender': 'Female', 'contact': {'email': 'emma.davis@example.com', 'phone': '+1-234-567-8905'}}

In [13]:
for row in emp['employees']:
    for key, values in row.items():
        if key == 'personal_details':
            print(values)

{'age': 28, 'gender': 'Female', 'contact': {'email': 'alice.johnson@example.com', 'phone': '+1-234-567-8901'}}
{'age': 35, 'gender': 'Male', 'contact': {'email': 'bob.smith@example.com', 'phone': '+1-234-567-8902'}}
{'age': 30, 'gender': 'Male', 'contact': {'email': 'charlie.brown@example.com', 'phone': '+1-234-567-8903'}}
{'age': 27, 'gender': 'Male', 'contact': {'email': 'david.wilson@example.com', 'phone': '+1-234-567-8904'}}
{'age': 32, 'gender': 'Female', 'contact': {'email': 'emma.davis@example.com', 'phone': '+1-234-567-8905'}}

In [14]:
for row in emp['employees']:
    for key, value in row.items():
        if key == 'personal_details':
            for details in value['personal_details']:
                print(details)

[{'project_id': 'P105', 'name': 'Social Media Campaign', 'status': 'In Progress'}]

KeyError: 'personal_details'

In [15]:
# Sample Nested JSON Data
json_data = '''{
  "employees": [
    {
      "employee_id": 101,
      "name": "Alice Johnson",
      "personal_details": {
        "age": 28,
        "gender": "Female",
        "contact": {
          "email": "alice.johnson@example.com",
          "phone": "+1-234-567-8901"
        }
      },
      "job_details": {
        "department": "IT",
        "designation": "Software Engineer",
        "salary": 75000,
        "joining_date": "2020-06-15"
      },
      "projects": [
        {
          "project_id": "P101",
          "name": "Website Redesign",
          "status": "Completed"
        },
        {
          "project_id": "P102",
          "name": "Mobile App Development",
          "status": "In Progress"
        }
      ]
    },
    {
      "employee_id": 102,
      "name": "Bob Smith",
      "personal_details": {
        "age": 35,
        "gender": "Male",
        "contact": {
          "email": "bob.smith@example.com",
          "phone": "+1-234-567-8902"
        }
      },
      "job_details": {
        "department": "HR",
        "designation": "HR Manager",
        "salary": 65000,
        "joining_date": "2019-08-20"
      },
      "projects": [
        {
          "project_id": "P103",
          "name": "Employee Onboarding System",
          "status": "Ongoing"
        }
      ]
    }
  ]
}'''

In [16]:
# Convert JSON to Python Dictionary
data = json.loads(json_data)

NameError: name 'json' is not defined

In [17]:
import json

In [18]:
# Convert JSON to Python Dictionary
data = json.loads(json_data)

In [19]:
data

{'employees': [{'employee_id': 101,
   'name': 'Alice Johnson',
   'personal_details': {'age': 28,
    'gender': 'Female',
    'contact': {'email': 'alice.johnson@example.com',
     'phone': '+1-234-567-8901'}},
   'job_details': {'department': 'IT',
    'designation': 'Software Engineer',
    'salary': 75000,
    'joining_date': '2020-06-15'},
   'projects': [{'project_id': 'P101',
     'name': 'Website Redesign',
     'status': 'Completed'},
    {'project_id': 'P102',
     'name': 'Mobile App Development',
     'status': 'In Progress'}]},
  {'employee_id': 102,
   'name': 'Bob Smith',
   'personal_details': {'age': 35,
    'gender': 'Male',
    'contact': {'email': 'bob.smith@example.com', 'phone': '+1-234-567-8902'}},
   'job_details': {'department': 'HR',
    'designation': 'HR Manager',
    'salary': 65000,
    'joining_date': '2019-08-20'},
   'projects': [{'project_id': 'P103',
     'name': 'Employee Onboarding System',
     'status': 'Ongoing'}]}]}

In [20]:
# Convert to Pandas DataFrame
df = pd.json_normalize(data['employees'], 
                        meta=['employee_id', 'name'],
                        record_path=['projects'],
                        errors='ignore')

ValueError: Conflicting metadata name name, need distinguishing prefix

In [21]:
# Convert to Pandas DataFrame
df = pd.json_normalize(data['employees'], 
                        record_path=['projects'],  # Flatten projects
                        meta=['employee_id', 'name'],  # Keep employee info
                        meta_prefix='employee_',  # Prefix to resolve name conflict
                        record_prefix='project_',  # Prefix for project fields
                        errors='ignore')

In [22]:
df

,project_project_id,project_name,project_status,employee_employee_id,employee_name
0,P101,Website Redesign,Completed,101,Alice Johnson
1,P102,Mobile App Development,In Progress,101,Alice Johnson
2,P103,Employee Onboarding System,Ongoing,102,Bob Smith

In [27]:
# Iterate through each employee and print details
for emp in data["employees"]:
    print(f"\nEmployee ID: {emp['employee_id']}")
    print(f"Name: {emp['name']}")
    print(f"Age: {emp['personal_details']['age']}")
    print(f"Gender: {emp['personal_details']['gender']}")
    print(f"Email: {emp['personal_details']['contact']['email']}")
    print(f"Phone: {emp['personal_details']['contact']['phone']}")
    print(f"Department: {emp['job_details']['department']}")
    print(f"Designation: {emp['job_details']['designation']}")
    print(f"Salary: ${emp['job_details']['salary']}")
    print(f"Joining Date: {emp['job_details']['joining_date']}")
    
    # Handling multiple projects
    if emp["projects"]:
        print("Projects:")
        for proj in emp["projects"]:
            print(f"  - {proj['name']} (Status: {proj['status']})")
    else:
        print("Projects: None")

Employee ID: 101
Name: Alice Johnson
Age: 28
Gender: Female
Email: alice.johnson@example.com
Phone: +1-234-567-8901
Department: IT
Designation: Software Engineer
Salary: $75000
Joining Date: 2020-06-15
Projects:
  - Website Redesign (Status: Completed)
  - Mobile App Development (Status: In Progress)

Employee ID: 102
Name: Bob Smith
Age: 35
Gender: Male
Email: bob.smith@example.com
Phone: +1-234-567-8902
Department: HR
Designation: HR Manager
Salary: $65000
Joining Date: 2019-08-20
Projects:
  - Employee Onboarding System (Status: Ongoing)